*{
    font-family: 'Questrial', sans-serif;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width:  940px;
    margin: auto;
}
.header{
    margin: auto;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
}
.navigation h4 {
    margin-right: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.navigation h4 a:link{
    text-decoration: none;
    color: black;
}
.navigation h4 a:visited{
    text-decoration: none;
    color: black;
}
.navigation h4:nth-last-child(1) {
    margin-right: 0px;
}
.container_AA{
    padding-bottom: 104px;
}
.container__BB{
    display: flex;
}
.container__BB h1, p, h4:nth-last-child(2){
    margin-right: auto;
}
.container__BB p{
    padding-left: 5%;
    padding-right: 15%;    
}
.Language_radio{
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 30px;
}
.Language_radio h4{
    margin-left: 0;
}
.container_AA__IMG img{
    display: block;
    margin: auto;
}
.container p{
    font-size: 18px;
}
.container h2{
    font-size: 34px;
}
.container__About_me{
    padding-top: 90px;
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 104px;
}
.container__skills{
    padding-top: 90px;
    text-align: center;
    padding-bottom: 104px;
}
.container__skills img{
    width: 90px;
    height: 90px;
}
.container__skills article{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.container__skills figure{
    margin: auto;
}
.container__contacts{
    padding-top: 90px;
    text-align: center;
    padding-bottom:85px;
}
.send_message {
    display: inline;
    padding:10px;
    background-color: black;
    border-radius: 10px;
}
.send_message a:link{
    text-decoration: none;
    color: white;
}
.send_message a:visited{
    color: white;
    text-decoration: none;
}
